{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
habeeb's-portfolio-contact
{% endblock %}
{% block content %}
<div class="container text-center mb-3">
  <div class="container-fluid text-center">
    <h1 class="text-light fw-bolder m-1">
      Contact Me
    </h1>
  </div>  
</div>
    
<div class="container">
  <div class="row justify-content-center align-item-center">
    <div class="col-10">
      <h4 class="text-left text-warning fw-bold my-2 mx-4">
          Contact me via...
      </h4>
      <hr class="text-light">
      <div class="container mt-3 mb-3">
        <div class="row d-flex flex-wrap">
          <div class="col m-3 text-center">
              <a href="https://wa.me/2347030678099" class="text-light">
                <i class="fab fa-whatsapp fa-3x"></i>
              </a>
              <p class="text-center text-light">Whatsapp</p>
          </div>
          <div class="col m-3 text-center">
            <a href="https://www.facebook.com/profile.php?id=100028224940328" class="text-light">
              <i class="fab fa-facebook fa-3x"></i>
            </a>
            <p class="text-center text-light">Facebook</p>
          </div>
          <div class="col m-3 text-center">
            <a href="https://x.com/_sssnew_?t=1-a-qOiOYX4ZkJzr5KfmfA&s=09" class="text-light">
              <i class="fab fa-twitter fa-3x"></i>
            </a>
            <p class="text-center text-light">Twitter(x)</p>
          </div>
          <div class="col m-3 text-center">
            <a href="https://www.Instagram.com/_sssnew_?igsh=YzljYTk1ODg3Zg==" class="text-light">
              <i class="fab fa-instagram fa-3x"></i>
            </a>
            <p class="text-center text-light">Instagram</p>
          </div>
          <div class="col m-3 text-center">
            <a href="https://youtube.com/@user-pm7le2fx8w?si=E5VrAGvJpuB6CARJ" class="text-light">
              <i class="fab fa-youtube fa-3x"></i>
            </a>
            <p class="text-center text-light">Youtube</p>
          </div>
          <div class="col m-3 text-center">
            <a href="https://www.linkedin.com/in/habibu-danlami-dahir-3b7277277?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BKBS5ccv7S1SsBMsb5JWDug%3D%3D" class="text-light">
              <i class="fab fa-linkedin fa-3x"></i>
            </a>
            <p class="text-center text-light">Linkedin</p>
          </div>
          <div class="col m-3 text-center">
            <a href="https://github.com/sssnewplus" class="text-light">
              <i class="fab fa-github fa-3x"></i>
            </a>
            <p class="text-center text-light">Github</p>
          </div>
          <div class="col m-3 text-center">
            <a href="https://discord.com/users/1202361890429485156" class="text-light">
              <i class="fab fa-discord fa-3x"></i>
            </a>
            <p class="text-center text-light">Discord</p>
          </div>
          <div class="col m-3 text-center">
            <a href="https://t.me/ActannB" class="text-light">
              <i class="fab fa-telegram fa-3x"></i>
            </a>
            <p class="text-center text-light">Telegram</p>
          </div>
        </div>
        <hr class="text-light">
      </div>
    </div>
    <div class="container text-center">
      <a href="/">
        <button type="button" class="btn btn-lg btn-success">
          <span class="text-light fw-bold">Get Back</span>
        </button>
      </a>
    </div>
  </div>   
  </div>
{% endblock %}